#traxler {
  background-image: url("../img/thumbnails/traxler.jpeg");
}

#trompowsky {
  background-image: url("../img/thumbnails/trompowsky.jpeg");
}
#beefeater {
  background-image: url("../img/thumbnails/beefeater.jpeg");
}
#winggambit {
  background-image: url("../img/thumbnails/winggambit.jpeg");
}

#bdg {
  background-image: url("../img/thumbnails/bdg.jpeg");
}

#vienna {
  background-image: url("../img/thumbnails/vienna.jpeg");
}
