#opening-title {
  margin: 0.3em 0;
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

#yt-player {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.video-container {
  margin: 0 auto;
  width: calc(35vh * (16 / 9));
  min-height: 35vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--border-radius);
  overflow: hidden;
}
