#pgn-viewer {
  width: 100%;
  background-color: var(--blue);
  margin-bottom: 1rem;
  padding: 0.7em;
  border-radius: var(--border-radius);
}

.pgn-move {
  display: inline-block;
  border: none;
  text-align: center;
  color: white;
  line-height: 1.5rem;
  background-color: var(--blue);
}

.pgn-move:hover {
  background-color: var(--red);
}

.current-move {
  background-color: var(--blue);
}

.current-move:hover {
  background-color: var(--blue);
}
